.card{
    width: 18%;
    padding-top: 18%;
    background: rgb(117,175,129);
    background: radial-gradient(circle, rgba(117,175,129,1) 0%, rgba(51,51,51,1) 100%);
    border: solid 3px rgb(39, 39, 39);
    border-radius: 6px;
    margin: 1%;
}